@tailwind base;
@tailwind components;
@tailwind utilities;

.fullscreen {
  width:100vw;
  height:100vh;
  .container {
    padding:4rem;
    margin:auto;
    height:auto;
    display:grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 2rem;
    row-gap: 6rem;
    align-items:center;
    justify-content:space-around;
    .card {
      overflow:hidden;
      width: 15rem;
      height: 20rem;
      background:#fff;
      box-shadow:1px 22px 44px rgba(0,0,0,.19);
      transition:0.6s;
      border-radius:2px;
      position:relative;
      display:flex;
      border-radius: 3%;

      &:hover {
        transform:translateY(-15px);
        box-shadow:1px 12px 34px rgba(0,0,0,.31);
        .sinopse{
          opacity:1;
          transition-delay:0.4s;
          .view{
            opacity:1;
            transform:translateY(0%);
            transition:0.6s;
            transition-delay:1s;
          }
          .content-sinopse {
            .text{
              transform:translateY(0);
              transition-delay:0.6s;
            }
            .title {
              transform:translateY(0);
              transition-delay:0.2s;
            }
          }
        }
        .content{
          transform:translate(100%);
          opacity:0;
        }
      }
      .content{
        transition:0.8s;
        display:flex;
        flex-wrap:wrap;
        align-self:flex-end;
        padding:25px 25px 50px 25px;
        .title{
          width:100%;
          color:pink;
          font-family: 'Cinzel';
          font-size:2rem;
          font-weight:300;
          margin-bottom:15px;
        }
      }
      .sinopse {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        padding:25px 25px 50px 25px;
        background:rgba(0,0,0,.70);
        color:#fff;
        font-weight:300;
        opacity:0;
        transition:0.6s;
        display:flex;
        align-items:flex-end;
        flex-wrap:wrap;
        iframe {
          position: absolute;
          top: 0;
          width: 100%;
          margin-left: -30px;
          height: 260px;
        }
        .view {
          position:absolute;
          bottom:15px;
          right:25px;
          color:#fff;
          font-size:14px;
          border-bottom:1px solid #fff;
          opacity:0;
          transform:translateY(100%);
          transition:0.6s;
          cursor:pointer;
        }
        .content-sinopse{
          .title{
            color:pink;
            font-size:22px;
            font-weight:900;
            margin-bottom:12px;
            transform:translateX(-100%);
            transition:0.6s;
          }
          .text{
            transform:translateX(-100%);
            transition:0.6s;
            color:rgba(255,255,255,.6);
            font-weight:300;
            font-size:14px;
          }
        }
      }
    }
  }
}
// Container
.section__container {
  background-blend-mode: overlay, overlay, normal;
  background-color: #F3F4F6;
  background-image: radial-gradient(
                  79.69% 102.24% at 100% 100.11%,
                  rgba(0, 0, 0, 0.2),
                  transparent
  ),
  radial-gradient(
                  89.7% 115.09% at 3.43% 2.75%,
                  rgba(255, 255, 255, 0.7),
                  rgba(255, 255, 255, 0)
  );
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.281);

  //Content
  .containerInner {
    // background-color: rgb(135, 126, 255);
    width: 100%;
  }
}

// Profil Image
.profileImg {
  // background-color: red;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 3px rgb(2, 2, 2) solid;
  overflow: hidden;
  margin: auto;
  margin-bottom: 3rem;
}

// UPLOAD IMAGE
.uploadContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  #uploadImage {
    margin-bottom: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
  }
}

// Profil Form
.charaForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;

  &.charaForm * {
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
  }
}

// BUTTONS
.containerInner__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.containerInner__buttons * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
